.category-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  padding: 16px;
  max-width: 420px;
  &--has-tasks {
    background: rgba(172, 173, 249, 0.03);
  }
}
